@import "tailwindcss";

@theme {
  --color-mint-cream: #F2FBF9;
  --color-cyan: #22D3EE;
  --color-gold: #F59E0B;
  --color-slate-navy: #1E293B;
  
  --shadow-clay: 0 20px 40px -12px rgba(34, 211, 238, 0.2);

  --font-sans: var(--font-plus-jakarta-sans);
}

body {
  background-color: var(--color-mint-cream);
  color: var(--color-slate-navy);
  font-family: var(--font-sans);
}
